/* Created by Tivotal */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #dde1e7;
}

.icons {
  display: flex;
}

.icons li {
  position: relative;
  list-style: none;
  height: 70px;
  width: 70px;
  cursor: pointer;
  background: #dde1e7;
  box-shadow: -3px -3px 7px #ffffff73, 
    3px 3px 5px rgba(94, 104, 121, 0.288);
  margin: 0 10px;
  border-radius: 50%;
}

.icons li a {
  font-size: 27px;
  color: #b6bbc5;
  line-height: 70px;
}

.icons li.shadow a {
  position: absolute;
  height: 55px;
  width: 55px;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 55px;
  background: #dde1e7;
  box-shadow: inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px rgba(94, 104, 121, 0.288);
  border-radius: 50%;
}

li:nth-child(1).fill a {
  color: #4267b2;
}

li:nth-child(2).fill a {
  color: #1da1f2;
}

li:nth-child(3).fill a {
  color: #e1306c;
}

li:nth-child(4).fill a {
  color: #2867b2;
}

li:nth-child(5).fill a {
  color: #333;
}
